PORT=4000
MONGODB_URI=mongodb+srv://ochiengpaul001:wZGk1IBV0wiqUNET@cluster0.fwxk07b.mongodb.net/mydatabase?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=diagnostics
FRONTEND_URL=http://localhost:3000
